@media (min-width: 768px){
  #left {
    top: 70px;
    bottom: 55px;
    left: 0;
    width: 25%;
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 55px;
  }

  #middleLeft {
    top: 70px;
    bottom: 155px;
    overflow-y: scroll;
    width: 25%;
      height: 100%;
      padding-bottom: 55px;

  }
    
  #middleRight {
    top: 70px;
    bottom: 55px;
      overflow-y: scroll;
    width: 25%;
      height: 100%;
      padding-bottom: 55px;

  }    
      #right {
    top: 70px;
    bottom: 55px;
    overflow-y: scroll;
    width: 25%;
    height: 100%;
          padding-bottom: 55px;

      }
}
.Fixedtop{
    position: fixed;
    top: 40px;
    text-align: center;
    width: 20%;
    z-index: 1000000;
}
.FixedFilter{
    position: fixed;
}
.footer1 {
    position: fixed;
    left: auto;
    bottom: 15px;
    width: 25%;
    color: black;
    background-color: #ffffff;
    text-align: center;
}
.footer {
    position: fixed;
    left: auto;
    bottom: 15px;
    color: black;
    text-align: center;
}
.BottomFooter {
    position: fixed;
    left: -10;
    bottom: 0;
    color: #9d9d9d;
    background-color: #24292d;
    text-align: center;
    width: 100%;
}
.Header {
    position: fixed;
    left: -10;
    top: 0;
    width: 100%;
    z-index: 9000000;

}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    font-size: 20px;
}
.button1{
    padding: auto;
    font-size: 20px;
    position: fixed;
    top: 10px;
}
.filterDiv {
  display: none;
}

.show {
  display: block;
}
.HoverOver{
    z-index: 1000;
}
.ModalOver{
    z-index: 10000;
}
